<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper">

    <insert id="insertEventRequest" parameterType="com.kotoumi.sifcap.model.po.EventRequest">
        insert into event_request set user_id = #{userId}
        <if test="eventId != null">
            , event_id = #{eventId}
        </if>
        <if test="type != null">
            , type = #{type}
        </if>
        <if test="rank != null">
            , `rank` = #{rank}
        </if>
        <if test="requestHeaders != null">
            , request_headers = #{requestHeaders}
        </if>
        <if test="requestData != null">
            , request_data = #{requestData}
        </if>
    </insert>

    <insert id="insertEventRank" parameterType="com.kotoumi.sifcap.model.po.EventRank">
        insert into event_rank set event_id = #{eventId}
        <if test="type != null">
            , type = #{type}
        </if>
        <if test="rank != null">
            , `rank` = #{rank}
        </if>
        <if test="score != null">
            , score = #{score}
        </if>
    </insert>

    <select id="getCurrentEventId" resultType="Integer">
        select event_id from event_map
        <where>
            start_time &lt; CURRENT_TIMESTAMP and end_time &gt; CURRENT_TIMESTAMP
        </where>
        limit 1
    </select>

    <select id="findEventRequests" resultType="com.kotoumi.sifcap.model.po.EventRequest">
        select request_headers as requestHeaders, request_data as requestData from event_request
        <where>
            event_id = #{eventId} and type = #{type} and rank = #{rank}
        </where>
        order by request_time desc limit 10
    </select>

</mapper>